<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='project.css') }}" >

    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="nav_bar">
            <h1 class="title">Dillan Samano</h1>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/About_me">About Me</a>
                <a href="/Contact">Contact</a>
            </div>
        <span onclick="openNav()" class="n">&#9776;</span>
        </div>
        <!-- <hr style="border-color: black;"> -->
        <!-- bottom of nav bar -->
            
        <h1 class="pro_title">Projects</h1>
            <div class="wording">
                <p class="word">Have you ever received a poorly formatted email with broken links that seemed like it was from the 90s? As a developer, I understand the significance of creating visually pleasing and effective emails. To demonstrate my skills, I have assembled a few HTML emails that display the quality of work I produce. Each email exhibits my dedication to precise detailing and coding expertise, ranging from unique designs to personalized templates. If you're interested, click on any iPhone below to take a look for yourself.</p>
            </div>

    <div class="projects">
        
            <div class="project_one">
                <h1>NewsLetters</h1>
                <a href="/Dillan_samano/Email_Newsletter"><img src="../static/images/musicnws.png" alt="Email_Newsletters" class="sideimg"></a>
            </div>
            <div class="project_two">
                <h1>Promotionals</h1>
                <a href="/Dillan_samano/Email_Promotional"><img src="../static/images/Iphone_two.png" alt="Email_promotionals" class="midimg"></a>

            </div>
            <div class="project_Three">
                <h1 class="recipts">Recipts</h1>
                <a href="/Dillan_samano/Email_Recipt"><img src="../static/images/iphone_bike.png" alt="Email_receipts" class="sideimgone"></a>
            </div>
    </div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>

</body>
</html>